@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
/* Menu CSS */

#pgMenubar,
#pgMenubar > ul {
    padding-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#pgMenubar:before,
#pgMenubar:after,
#pgMenubar > ul:before,
#pgMenubar > ul:after {
    content: "";
    display: table;
}

#pgMenubar:after,
#pgMenubar > ul:after {
    clear: both;
}

#pgMenubar {
    width: auto;
    zoom: 1;
}

#pgMenubar > ul {
    margin: 0;
    padding: 0;
    position: relative;
}

#pgMenubar > ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#pgMenubar > ul > li {
    float: left;
    position: relative;
}

#pgMenubar > ul > li > a {
    padding: 23px 26px;
    display: block;
    color: black;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
}

#pgMenubar > ul > li:hover > a {
    background: black;
    color: #ddd4bc;
}

#pgMenubar > ul > li > a > span {
    line-height: 18px;
}

#pgMenubar > ul > li.active > a,
#pgMenubar > ul > li > a:active {
    background: #F7E13B;
    color: black;
}

/* Childs */

#pgMenubar > ul ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 120px;
    margin: 0;
    padding: 0;
    z-index: -1;
    background: #ddd4bc;
}

#pgMenubar > ul li:hover ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
    color: #000;
    z-index: 2;
    top: 64px;
    left: 0;
}

#pgMenubar > ul ul:before {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 20px;
    background: transparent;
}

#pgMenubar > ul ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#pgMenubar > ul ul li a {
    padding: 18px 26px;
    display: block;
    color: black;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
    border-left: 4px solid transparent;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -ms-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    text-shadow: 0 1px 0 white;
}

#pgMenubar > ul ul li a:hover {
    border-left: 4px solid #f8dc0b;
    background: black;
    color: white;
    text-shadow: 0 1px 0 black;
}

#pgMenubar > ul ul li a:active {
    background: url(img/menu-bg.png) repeat;
}